@charset "UTF-8";
:root {
    
        --cor0:   #732027; 
        --cor1:   #2D3B40;
        --cor2:   #BF2626;
        --cor3:   #D93D3D; 
        --cor4:   #F2F2F2;
   }
   *{
       margin: 0px;
       padding: 0px;
   }

   header {
       background-color: var(--cor0);
       background-repeat: no-repeat;
       background-image: url(logo\ fap3.png);
       padding-top: 125px;       
   }
  
   body {
       background-color: var(--cor1);
   }
   header > p {
    color:  white;
    text-align: right;
    padding-right: 20px;
    padding-top: 1.5px;
    font-size: 1.3em;
    font-variant: small-caps;
    
}
   nav {
       text-align: right;
       padding-right: 50px;
       background-color: var(--cor4);
       
   }

   nav a{
         color: var(--cor1);
         text-decoration: none;
         padding: 5px;
         font-variant: small-caps;
         font-size: 1.2em;
         line-height: 2em;
                
   }
   a:hover {
       text-decoration: underline;
   }

   div {
                        
   }

   img { 
       padding-top: 10px;      
      margin: auto;
      text-align: center;
      display: block;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
      }

      

