@charset "UTF-8";
:root {
    
        --cor0:   #732027; 
        --cor1:   #2D3B40;
        --cor2:   #BF2626;
        --cor3:   #D93D3D; 
        --cor4:   #F2F2F2;
   }
   *{
       margin: 0px;
       padding: 0px;
   }
   header picture{
       padding-right: 100%vh;
       
   }
   
   body {
       background-color: var(--cor1);
   }
   nav.cabecalho {
       background-color: var(--cor0);
       padding-top: 50px;
       
   }
}
nav.cabecalho picture {
    padding: 8px;
    
}
   img.img_cab {
       padding: 8px;
       padding-right: 150px;
       box-shadow: none;
      
   }      
         
   nav {
 
    padding-right: 50px;
    background-color: var(--cor4);
    
}

   nav a{
         color: var(--cor1);
         text-decoration: none;
         padding: 5px;
         font-variant: small-caps;
         font-size: 1.2em;
         line-height: 2em;
                
   }

   nav.menu{
       min-width: 310px;
       
   }
     
   a:hover {
       text-decoration: underline;
   }

   div {
                        
   }

   img { 
      padding-top: 10px;      
      margin: auto;
      text-align: center;
      display: block;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
      }

      

